<div id="fix-for-navbar-fixed-top-spacing" style="height: 40px;">&nbsp;</div>
<nav class="navbar navbar-dark fixed-top navbar-expand-sm lex-md-nowrap p-0" style="background-color:#1E284A"
	id="navBar">

	<span class="nav-item active text-nowrap">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="index.html">VisualizIRR</a>
	</span>

	<span class="text-nowrap">
		<a href="https://liulab-dfci.github.io/">
			<img src="img/liulab_logo.png" style="image-rendering: -webkit-optimize-contrast;" height="30"
				width="40"></img>
		</a>
	</span>

	<span class="navbar-text text-nowrap" style="font-size: 11px">© 2019 Liu Lab</span>

	<span id="header_desc" class="text-nowrap navbar-text text-white nav-link">Immune Repertoire</span>

	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbar-collapse-1">

			<ul class="navbar-nav flex-sm-row ml-md-auto d-sm-flex">

				<li class="nav-item active">
					<div class="btn-group">
						<button type="button" id="dropdown_samples"
							class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<span id="chosen_sample"></span> 
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu active pre-scrollable" id="dropdown-populate">
							<div class="dropdown-divider"></div>
							<input class="form-control dropdown-item" id="searchSamples" type="text"
								placeholder="Sample Search"></input>
						</div>
					</div>
				</li>

				<li class="nav-item active">
					<a id="info" class="nav-link nav-a" style="font-size: 1rem;display:none;">Information</a>
				</li>
				<li class="nav-item active">
					<a id="segment_usage" class="nav-link nav-a" style="font-size: 1rem">Segment Usage</a>
				</li>
				<li class="nav-item active">
					<a id="cdr3_length" class="nav-link nav-a" style="font-size: 1rem">CDR3</a>
				</li>
				<li class="nav-item disabled" id="cohort_analysis_status">
					<a id="cohort_analysis" class="nav-link nav-a disabled" href="cohort_analysis.html"
						style="font-size: 1rem">Cohort Analysis</a>
				</li>
				<li class="nav-item active">
					<a id="home" class="nav-link nav-a" href="index.html" style="font-size: 1rem">Home</a>
				</li>
			</ul>
		</div>
		<button type="button" class="btn btn-primary btn-sm d-block d-sm-none w-100" data-toggle="collapse"
			data-target="#navbar-collapse-1">
			. . .
		</button>
	</div>
</nav>